QPushButton#btn_music {
    background-color: rgba(255,255,255,0.4);
    border-radius: 10px;
    border: 1px solid #aaaaaa;
}

QPushButton#btn_music:hover {
    background-color: rgba(255,255,255,0.7);
}

QPushButton#btn_music:checked {
    background-image: url(:/assets/sound.png);
}

QPushButton#btn_music:!checked {
    background-image: url(:/assets/sound_off.png);
}
